form {
  margin: 0 auto;
  text-align: left;
  padding: 10px 70px 0px;
  h2 {
    @include fontSize(30);
  }
  .noAnswer {
    display: none;
    color: red;
    margin: 0px 0px;
  }
  .hidden {
    height: 25px;
    
  }
  p,
  label {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.4em;
    @include fontSize(23);
  }
  .question {
    padding-bottom: 15px;
  }
  button,
  input[type="submit"] {
    margin: 15px auto;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 15px 20px;
    @include fontSize(21);
    font-family: 'Playfair Display', serif;
    border: transparent;
    transition: all 0.4s ease-in-out;
  }
  button:hover,
  input[type="submit"]:hover {
    background-color: $primary;
  }
  .select {
    padding: 5px;
    @include fontSize(11);
  }
  input[type="radio"] {
    display: none;
  }
  input[type=radio]:checked ~ label {
    color: $primary;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
  }
  label:hover {
    color: $grey;
  }
  label::before {
    display: inline-block;
    content: "";
    border: 5px solid $primary;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    margin-bottom: none;
    transition: all 0.4s ease-in-out;
    margin-left: -35px;
    top: 2px;
  }
  label {
    margin-bottom: 5px;
  }
  label:hover:before {
    border: 5px solid $grey;
  }
  .question div {
    margin-left: 32px;
  }
}

@media (max-width: 720px) {
  form {
    padding: 0px 10px;
    label:before {
      top: 5px;
    }
    h2 {
      @include fontSize(23);
    }
    label {
      @include fontSize(17);      
    }
    .question {
      padding-bottom: 5px;
    }
    button {
      @include fontSize(18);
    }
  }
}